html {
  height: 100%;
}

body {
  background-color: turquoise;
  height: 100%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: brown;
  color: white;
  margin: 5px;
}

header h1 {
  font-size: 50px;
}

main {
  display: flex;
  height: 100%;
}

#city-search {
  height: 100%;
  flex-direction: column;
  background-color: orange;
  color: blue;
  margin: 10px;
}

#search-history li {
  list-style: none;
  text-align: center;
}

/* #player {} */

/* #music {
  flex-grow: 3;
  margin: 10px;
  background-color: turquoise;
  height: 50%;
} */


.borders {
  border: 3px solid red;
  margin: 5px;
}