body {
  background-image: url(../luca-bravo-9Aq6sEefOPU-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  margin: 10px;
  font-family: "Shadows Into Light Two";
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100px;
  background-color: rgb(89, 6, 150);
  color: rgb(251, 203, 10);
}

header h2 {
  font-size: 25px;
  text-align: left;
  padding-top: 20px;
  margin-left: 10px;
}

header h1 {
  font-size: 50px;
  text-align: center;
}

main {
  display: flex;
}

#city-search {
  height: 50%;
  flex-direction: column;
  background-color: rgb(254, 205, 26);
  color: rgb(199, 10, 128);
  margin: 10px;
}

#search-history li {
  list-style: none;
  text-align: center;
}
